{% extends 'eveonline/base.html' %}

{% block brand %}
Dashboard
{% endblock %}

{% block content %}
<style>
.guildbtn {
    min-width: 50%;
}
</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger">
  {{message}}
</div>
{% endfor %}
{% endif %}
<div class="container">
  <h4>Characters</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Portrait</th>
        <th>Character Name</th>
        <th>Character Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for character in characters %}
      <tr>
        <td>
            <img style="width: 50px;" src="{{character.character_portrait}}"/>
        </td>
        <td>
            <a href="/eve/character/{{character.token.character_id}}/">{{character.character_name}}</a>
        </td>
        <td>
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        <td>
            <button class="btn btn-danger btn-fill"><i class="fa fa-times"></i></button>
        </td>
      </tr>
    {% endfor %}
    <!-- Bottom Divider -->
    <tr><td></td><td></td><td></td><td></td></tr>
    </tbody>
  </table>
  <div class="container">
      <button onclick="location.href='{% url 'add-sso-token' %}'" class="col-md-4 col-md-offset-4 btn btn-success btn-fill">Add Character</button>
  </div>
  <br>
  <div class="container">
      <button onclick="location.href='#'" class="col-md-4 col-md-offset-4 btn btn-primary btn-fill">Choose Main Character</button>
  </div>
</div>
{% endblock %}
