{% extends "eveonline/base.html" %}
{% load eve_filters %}
{% block brand %}
  <h1>
    Character Audit
    <small>Displays Character Information</small>
  </h1>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-4 border-right">
        <img style="padding-right: 20px;" class="img-rounded pull-left" src="{{character.character_portrait}}"></img>
        {{character.token.character_name}}<br>
        {{net_worth}} ISK<br>
        {{sp}} SP
      </div>
      <div class="col-sm-4 border-right">
        Skill Summary
      </div>
      <div class="col-sm-4">
        Dangers
      </div>
    </div>
    <hr>
    <div class="well">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#skills" data-toggle="tab">Skills</a></li>
          <li><a href="#contracts" data-toggle="tab">Contracts</a></li>
          <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
          <li><a href="#journal" data-toggle="tab">Journal</a></li>
          <li><a href="#mail" data-toggle="tab">Mail</a></li>
          <li><a href="#transactions" data-toggle="tab">Transactions</a></li>

        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active in" id="skills">
              {% for category, skill_data in skill_tree.items %}
              <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#{{ category|cut:" " }}">{{category}}</a>
                      </h4>
                    </div>
                    <div id="{{ category|cut:" " }}" class="panel-collapse collapse">
                        <div class="container">
                            <br>
                          {% for skill_id, skill in skill_data.items %}
                          <p>{{skill.0}} : {{skill.1}}</p><br>
                          {% endfor %}
                        </div>
                    </div>
                  </div>
              </div>
              {% endfor %}
          </div>
          <div class="tab-pane fade" id="contracts">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Issued By</th>
                    <th>Accepted By</th>
                  </tr>
                </thead>
                <tbody>
                {% for contract in contracts %}
                  <tr>
                      <td>
                          {{contract.timestamp}}
                      </td>
                      <td>
                          {{contract.issuer_id}}
                      </td>
                      <td>
                          {% if contract.acceptor_id != 0 %}
                          {{contract.acceptor_id}}
                          {% else %}
                          Outstanding
                          {% endif %}
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="contacts">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Standing</th>
                  </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                  <tr>
                      <td>
                          <a href="{{contact.contact_url}}">{{contact.contact_id}}</a>
                      </td>
                      <td>
                          {{contact.standing}}
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="journal">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>From</th>
                  </tr>
                </thead>
                <tbody>
                {% for transaction in wallet %}
                  <tr {%if "player" in transaction.ref_type %} style="background-color:#efe483;"{%endif%}>
                    {% if "market" not in transaction.ref_type and "transaction" not in transaction.ref_type and "contract" not in transaction.ref_type %}
                    <td>{{transaction.ref_type | cleanTypes}}</td>
                    {% if transaction.amount > 0 %}
                    <td style="color: green;">{{transaction.amount}}</td>
                    {% else %}
                    <td style="color: red;">{{transaction.amount}}</td>
                    {% endif %}
                    <td>{{transaction.second_party_id}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <!-- Bottom Divider -->
                <tr><td></td><td></td><td></td></tr>
                </tbody>
              </table>
              {% if wallet == None %}
              <h3 class="text-center">Wallet failed to load</h3>
              {% endif %}
          </div>
          <div class="tab-pane fade" id="mail">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for mail in mails %}
                  <tr>
                      <td>
                          {{mail.timestamp}}
                      </td>
                      <td>
                          <a href="{{mail.from|eveWhoConverter}}">{{mail.from}}</a>
                      </td>
                      <td>
                          {% for recipient in mail.recipients %} <a href="{{recipient.recipient_url}}">{{recipient.recipient_id}}</a>{% endfor %}
                      </td>
                      <td>
                          {{mail.subject}}
                      </td>
                      <td>
                        <button
                          data-toggle="modal"
                          data-target="#selectModal{{mail.mail_id}}"
                          class="btn btn-warning btn-fill pull-left">
                          <i class="fa fa-eye"></i>
                        </button>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              {% if wallet == None %}
              <h3 class="text-center">Wallet failed to load</h3>
              {% endif %}
          </div>
          <div class="tab-pane fade" id="transactions">
              Not implemented.
          </div>
      </div>
    </div>
  </div>
</div>
{% for mail in mails %}
<div class="modal fade col-md-12" id="selectModal{{mail.mail_id}}" data-backdrop="false">
  {% include "eveonline/mail_modal.html" %}
</div>
</div>
{% endfor %}
{% endblock %}
