{% extends 'core/sidebar.html' %}

{% block brand %}
  <h1>
    Guilds
    <small>Small communities built around games</small>
  </h1>
{% endblock %}

{% block content %}
<style>
.guildbtn {
    min-width: 50%;
}
</style>
<div class="box">
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Guild</th>
          <th>Managers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for guild in guilds %}
        <tr>
          <td><img style="width: 26px;" src="{{guild.image}}"/></td>
          <td>
            {{guild.name}}
          </td>
          <td>
            {{guild.users_managing.all | join:", " }}
          </td>
          <td>
              {% if guild not in request.user.guilds_in.all %}
              <button onclick="location.href='{% url 'hr-add-application' slug=guild.slug %}'" class="guildbtn btn btn-success btn-block" {% if not guild.application_template %} disabled {%endif%}>
                Apply
              </button>
              {% else %}
              <button onclick="location.href=''" class="guildbtn btn btn-danger btn-block" disabled>Leave</button>
              {% endif %}
          </td>
        </tr
      {% endfor %}
      <!-- Bottom Divider -->
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
