{% extends 'core/sidebar.html' %}

{% block brand %}
  <h1>
    Guild Members
    <small>Members of each Guild</small>
  </h1>
{% endblock %}

{% block content %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      {% for guild in guilds %}
      <li>
        <a data-toggle="tab" href="#guild_{{guild.pk}}">
          {{ guild.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

<div class="tab-content box">
    {% for guild in guilds %}
    <div id="guild_{{guild.pk}}" class="tab-pane fade in box-body">
      <table class="table">
        <thead>
          <th scope="col">Member</th>
          <th scope="col">Discord</th>
          <th scope="col">Groups</th>
          <th scope="col">Actions</th>
          
        </thead>
        <tbody>
        {% for member in guild.users.all %}
        <tr>
          <td>{{member.username}}</td>
          <td>{{member.discord_user}}</td>
          <td>{{member.groups.all | join:" , "}}</td>
          <td>
            {% if perms.guilds.manage_guilds %}
            <button class="btn btn-danger" onclick="location.href=' {% url 'remove-guild-user' guild.pk member.pk%}'"><i class="fa fa-times"></i></button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}

</div>
{% endblock %}