celery==4.3.1
redis==3.5.3
Django==2.2.13
django-crispy-forms==1.7.2
django-singleton-admin-2==1.1.0
django-shell-plus==1.1.7
django-countries==5.5 # for country fields in UserInfo()
django-celery-beat==1.6.0
flower==0.9.3
mkdocs==1.1.2
mkdocs-material==6.1.5
mkdocs-material-extensions==1.0.1
django-notifications-hq==1.6.0
django-cookie-law==2.0.4
django-redis==4.12.1
django-extensions==3.1.0