{% extends "base/base.html" %}
{% load staticfiles %}

{% block brand %}
My Profile
{% endblock %}

<div class="wrapper">
    {% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title pull-left">Edit Profile</h4>
                                <button type="submit" class="btn btn-info btn-fill pull-right">Join Guild</button>
                            </div>

                            <div class="content">
                                <br>
                                <form name="form" enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" placeholder="Username" value="{{user.username}}" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" name="email" class="form-control" value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{user.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Timezone</label>
                                                <select class="form-control" name="timezone" selected={{profile.timezone}}>
                                                    <option value="EU">EU</option>
                                                    <option {% if profile.timezone == 'US' %}selected{% endif %}>US</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="5" class="form-control" name="biography" placeholder="A bit about you.">{{profile.biography}}</textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-warning btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'dashboard/img/gradient.jpg'%}"/>
                            </div>
                            <div class="content">
                                <div class="author">
                                     <a href="#">
                                    <img class="avatar border-gray" src="{% static 'dashboard/img/default-avatar.png'%}"/>

                                      <h4 class="title">{{user.first_name}}<br />
                                         <small>{{user.username}}</small>
                                      </h4>
                                    </a>
                                </div>
                                <p style="word-wrap: break-word;" class="description text-center"> {{profile.biography}}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple pad"><i class="fa fa-steam"></i></button>
                                <button href="#" class="btn btn-simple pad"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple pad"><i class="fa fa-twitch"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
</body>
