{% extends 'global/global_base.html' %}

{% block sidebar %}
	<div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.kryptedgaming.com" class="simple-text">
                Krypted Gaming
            </a>
        </div>

        <ul class="nav">
			<li>
    			<a href="/applications/view/">
    					<i class="pe-7s-mail"></i>
    					<p>My Applications</p>
    			</a>
			</li>
			<li>
				<a href="/applications/process/">
						<i class="pe-7s-key"></i>
						<p>Recruiter</p>
				</a>
			</li>

		<li class="divider"></li>
        </ul>
	</div>
{% endblock %}
