{% extends "global/base.html" %}
{% block sidebar %}
  <!-- CORE LINKS -->
  <li class="header">MAIN NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li><a href="{% url 'eve-dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview">
    <a href="#"><i class="fa fa-calendar"></i> <span>Fleets</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">View Fleets</a></li>
      <li><a href="#">Statistics</a></li>
      <li><a href="#">Leaderboard</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-wrench"></i> <span>Tools</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Pathfinder</a></li>
      <li><a href="#">Helltrain</a></li>
    </ul>
  </li>

  <!-- ADMIN LINKS -->
  {% if admin %}
  <li class="header">ADMIN</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="treeview">
    <a href="#"><i class="fa fa-building"></i> <span>Corporation</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Character Audit</a></li>
      <li><a href="#">Capital Management</a></li>
      <li><a href="#">Statistics</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-sitemap"></i> <span>Alliance</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Corporation Audit</a></li>
      <li><a href="#">Capital Management</a></li>
      <li><a href="#">Statistics</a></li>
    </ul>
  </li>
  <li><a href="{% url 'hr-view-applications-all' %}"><i class="fa fa-paperclip"></i> <span>Applications</span></a></li>
  {% endif %}
{% endblock %}
