    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Select a main character</h4>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Portrait</th>
                    <th>Character Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for character in characters %}
                  <tr>
                    <td>
                        <img style="width: 50px;" src="{{character.character_portrait}}"/>
                    </td>
                    <td>
                        <a href="/eve/character/{{character.token.character_id}}/">{{character.character_name}}</a>
                    </td>
                    <td>
                        <button onclick="location.href='/eve/character/set-main-character/{{character.character_id}}'" class="btn btn-success btn-fill">Select</i></button>
                    </td>
                  </tr>
                {% endfor %}
                <!-- Bottom Divider -->
                <tr><td></td><td></td><td></tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
