{% extends "eveonline/base.html" %}
{% load staticfiles %}
{% load eve_filters %}
{% load humanize %}
{% block brand %}
  <h1>
    Character Audit
    <small>Displays Character Information</small>
  </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
    <!-- TOP PANE -->
    <div class="row">
      <div class="col-sm-4 border-right">
        <img style="padding-right: 20px;" class="img-rounded pull-left" src="{{character.character_portrait}}"></img>
        {{character.character_name}}<br>
        {{character.data.total_isk | floatformat:"0" | intcomma}} ISK<br>
        {{character.data.total_skillpoints | intcomma}} SP
      </div>
    </div>
    <hr>
    <!-- AUDIT PANE -->
    <div class="well">
        <ul class="nav nav-tabs">
          <li><a href="#assets" data-toggle="tab">Assets</a> </li>
          <li><a href="#contracts" data-toggle="tab">Contracts</a></li>
          <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
          <li><a href="#journal" data-toggle="tab">Journal</a></li>
          <li><a href="#mail" data-toggle="tab">Mail</a></li>
        </ul>
        
      <div class="tab-content">
          <div class="tab-pane fade" id="assets">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Location</th>
                    <th>Item</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                {% for asset in character.data.assets %}
                  <tr>
                      <td>
                        {{asset.location}}
                      </td>
                      <td>
                        {{asset.item_name}}
                      </td>
                      <td>
                        {{asset.market_group_name}}
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="contracts">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Issued By</th>
                    <th>Accepted By</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                {% for contract in character.data.contracts %}
                  <tr>
                      <td>
                          {{contract.date_issued}}
                      </td>
                      <td>
                          {{contract.issuer}}
                      </td>
                      <td>
                          {% if contract.acceptor_id != 0 %}
                          {{contract.assigned}}
                          {% else %}
                          Outstanding
                          {% endif %}
                      </td>
                      <td>
                        {{contract.price |intcomma}} ISK
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="contacts">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Standing</th>
                  </tr>
                </thead>
                <tbody>
                {% for contact in character.data.contacts %}
                  <tr>
                      <td>
                          {{contact.name}}
                      </td>
                      <td>
                          {{contact.standing}}
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="journal">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>From</th>
                    <th>To</th>
                  </tr>
                </thead>
                <tbody>
                {% for transaction in character.data.journal %}
                  <tr {%if "player" in transaction.ref_type %} style="background-color:#efe483;"{%endif%}>
                    <td>{{transaction.date}}</td>
                    {% if transaction.amount > 0 %}
                    <td style="color: green;">{{transaction.amount|intcomma}}</td>
                    {% else %}
                    <td style="color: red;">{{transaction.amount|intcomma}}</td>
                    {% endif %}
                    <td>{{transaction.second_party_id}}</td>
                    <td>{{transaction.first_party_id}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="mail">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Subject</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for mail in character.data.mails %}
                  <tr>
                      <td>
                          {{mail.timestamp}}
                      </td>
                      <td>
                          <a href="{{mail.from|eveWhoConverter}}">{{mail.from}}</a>
                      </td>
                      <td>
                          {% for recipient in mail.recipients %} <a href="">{{recipient.recipient_id}}</a>{% endfor %}
                      </td>
                      <td>
                          {{mail.subject}}
                      </td>
                      <td>
                        <button
                          data-toggle="modal"
                          data-target="#selectModal{{mail.mail_id}}"
                          class="btn btn-warning btn-fill pull-left">
                          <i class="fa fa-eye"></i>
                        </button>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
</div>
{% for mail in character.data.mails %}
<div class="modal fade col-md-12" id="selectModal{{mail.mail_id}}" data-backdrop="false">
  {% include "eveonline/mail_modal.html" %}
</div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
