{% extends "eveonline/base.html" %}
{% load staticfiles %}
{% load eve_filters %}

{% block brand %}
  <h1>
    EVE Characters
    <small>Characters in the EVE branch.</small>
  </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    {% for corporation in corporations %}
    <li>
      <a data-toggle="tab" href="#{{corporation.corporation_id}}">
        {{corporation.name}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>


<div class="tab-content box">
    {% for corporation in corporations %}
    <div id="{{corporation.corporation_id}}" class="tab-pane fade in box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Character</th>
            <th scope="col">Discord</th>
  					<th scope="col">Alts</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for character in corporation.get_main_characters %}
  				<tr>
            <td>
              <a href="{% url 'eve_online-view-character' character.character_id %}"><img src="{{character.character_portrait}}" class="img-circle" width="20px" /></a>
              {{character.character_name}}
            </td>
            <td>@{{character.user.discord_user.username}}</td>
            <td>
              {% for alt in character.alts.all %}
              <a href="{% url 'eve_online-view-character' alt.character_id %}"><img src="{{alt.character_portrait}}" class="img-circle" width="20px" title="{{alt.character_name}}" /></a>
              <p hidden>{{alt.character_name}}</p>
              {% endfor %}
            </td>
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
