{% extends 'base/base.html' %}
{% load event_filters %}
{% block content %}
<style>
body {
    padding : 10px ;

}

#exTab1 .tab-content {
    color : white;
      background-color: #428bca;
          padding : 5px 15px;
          width: 50%;
}
</style>

<div class="col-lg-12">
  <div class="row">
    <!-- HEADER -->
      <h1 class="page-header">
        Events <small>All</small>
      </h1>
 <div class="row text-center">
          <button class="btn btn-info col-md-2 col-md-offset-1">
            EST : {% load tz %}{% timezone "America/New_York" %}{% now "H:i | M d" %}{%endtimezone%}
          </button>
          <button class="btn btn-info col-md-2 col-md-offset-2">
            <div>CET : {% load tz %}{% timezone "CET" %}{% now "H:i | M d" %}{%endtimezone%}</div>
          </button>
          <button class="btn btn-info col-md-2 col-md-offset-2">
            <div>UTC : {% load tz %}{% timezone "UTC" %}{% now "H:i | M d" %}{%endtimezone%}</div>
          </button>

        </div>
        <hr>
  {% load tz %}
  {% timezone "Europe/Paris" %}
  {{event.date_occuring}}
  {% endtimezone %}

      <div id="events-tab">

        <!-- START EVENTS -->
        <ul class="nav nav-pills">
          <!-- TAB FOR ALL EVENTS -->
                  <li class="active">
                    <a href="#all" data-toggle="tab">All</a>
                  </li>
          <!-- TABS FOR SPECIFIC GROUPS -->
          {% for group in groups %}
                  <li>
                    <a  href="#{{group}}" data-toggle="tab">{{group}}</a>
                  </li>
          {% endfor %}

          {% if user|c_create %}
          <button onclick="location.href='/events/create/'" style="float: right;" class="btn btn-success"><i class="fa fa-plus"></i> Create Event</button>
          {% else %}
          <button style="float: right;" class="btn btn-success" disabled><i class="fa fa-plus"></i> Create Event</button>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
  <!-- ENDTABS -->
    <div class="tab-content clearfix">
    <div class="tab-pane active" id="all">
        <table class="table" style="width: 100%">
          <tr>
            <th class="tablehead"></th>
            <th class="tablehead">Event</th>
            <th class="tablehead">Group</th>
            <th class="tablehead">Time</th>
            <th class="tablehead">Organizer</th>
          </tr>
          {% for event in events %}
          <tr>
            <td>
              <div style="font-size: 20px;" class="text-center">
              {% if event.importance == "3" %}
                <i class="fa fa-exclamation-circle text-danger"></i>
              {% elif event.importance == "2" %}
                <i class="fa fa-circle text-warning"></i>
              {% else %}
                <i class="fa fa-circle text-success" hidden></i>
              {% endif %}
              </div>
            </td>
            <td>
              <a href="/events/view/{{event.id}}/">{{event.title}}</a>
            </td>
            <td>
              <span class="label label-default">{{event.group}}</span>
            </td>
            <td>
              {{event.date_occuring}} <span class="label label-default"> UTC</span>
            </td>
            <td>
              {{event.creator}}
            </td>
          </tr>
          {% endfor %}
          <!-- Forced bottom table border -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- End bottom table border -->

        </table>
     </div>
    {% for group in groups %}
      <div class="tab-pane" id="{{group}}">
        <table class="table" style="width: 100%">
          <tr>
            <th class="tablehead">Event</th>
            <th class="tablehead">Description</th>
            <th class="tablehead">Notes</th>
            <th class="tablehead">Organizer</th>
          </tr>
          {% for event in events %}
          {% if event.group.name == group %}
          <tr>
             <td>
              {{event.title}}
            </td>
            <td>
              {% if event.description|length < 24 %}
              {{event.description}}
              {% else %}
              {{event.description|slice:":24"}}...
              {% endif %}
            </td>
            <td>
              {% if event.notes|length < 24 %}
              {{event.notes}}
              {% else %}
              {{event.notes|slice:":24"}}...
              {% endif %}
            </td>
            <td>
              {{event.creator}}
            </td>
          </tr>
          {% endif %}
          {% endfor %}

          <!-- Forced bottom table border -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- End bottom table border -->
        </table>
      </div>
    {% endfor %}
  </div>
</div>
       <div class="row text-center">
          <div class="col-md-2 col-md-offset-1">
          <i class="fa fa-exclamation-circle text-danger"></i> <p>High importance event. Rarely called, be there.</p>
          </div>
          <div class="col-md-2 col-md-offset-2">
          <i class="fa fa-circle text-warning"></i><p>Medium importance event. Do your best to be there.</p>
          </div>
          <div class="col-md-2 col-md-offset-2">
          <i class="fa fa-circle text-success" hidden></i><p>Low importance event. If you can't be there, don't sweat.</p>
          </div>
        </div>
        <hr>

{% endblock %}
