{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<!--Event CSS -->
<link href="{% static "events/css/events.css" %}" rel="stylesheet">



<div class="container login">

       <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
           <div class="panel panel-default" >
               <div class="panel-heading">
                   <div class="panel-title text-center">Event | Modify</div>
               </div>

               <div class="panel-body" >
               <div style="color: white;" class="text-center">
               <script>
               var localTime = new Date();
               offset = localTime.getTimezoneOffset()

               if (offset > 0) {
                   document.write("You are " + offset / 60 + " hours behind server time.")
               }

               if (offset < 0) {
                   document.write("You are " + offset / 60 + " ahead server time.")
               }
              </script>
              <hr>
          </div>

                 <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
                       {% csrf_token %}

                       <div class='input-group date' id='datetimepicker1'>
                           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                           <input type='text' class="form-control" name="date_occuring" value="{{event.date_occuring|date:"Y-m-d HH:mm"}}"/>
                           <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                           </span>
                       </div>
                       <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                           <input id="title" type="text" class="form-control" name="title" value="{{event.title}}">
                       </div>

                       <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                           <input id="description" type="text" class="form-control" name="description" value="{{event.description}}">
                       </div>

                       <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                           <input id="notes" type="text" class="form-control" name="notes" value="{{event.notes}}">
                       </div>

                      <p style="color: white;">Importance: </p> {{form.importance}}

                       <div class="form-group">
                           <!-- Button -->
                           <div class="col-sm-12 controls login-btn">
                               <button type="submit" href="#" class="btn btn-warning btn-log"><i class="glyphicon glyphicon-pencil"></i> Modify</button>
                           </div>
                       </div>

                           <div class="errors">
                               {% for field in form %}
                               {{field.errors}}
                               {% endfor %}
                           </div>
                   </form>
               </div>
           </div>
       </div>
   </div>

   <script type="text/javascript">
       $(function () {
         $('#datetimepicker1').datetimepicker({
                  format: 'YYYY-MM-DD HH:mm'
         });

       });

   </script>
