body {
    background-image: url("/static/accounts/img/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {
    padding-bottom: 10px;
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel, .panel-heading {
    /*background-color: transparent;*/
    opacity: .95;
        background-color: #2a2c30;
}

.panel-body {
    padding-top: 30px;

    /*background-color: rgba(2555,255,255,.3);*/
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.form-control{

}

.login {
    padding-top: 0%;
}

.login-btn{
    text-align: center;
}

.btn-log{
    width: 50%;
}

.register-help {
    text-align: center;
    color: white;
}

.errors {
    color: white;
}
