{% load staticfiles %}


    <!-- /.navbar -->
  

  

  
      <!-- Main content -->
      <section class="content">
        <div class="content-wrapper">
         {% block content %}
         sdf
         {% endblock %}
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
