{% load staticfiles %}
{% block scripts %}

{% for message in messages %}
<script>
const Toast = Swal.mixin({
    toast: true,
    position: 'top-end',
    showConfirmButton: true,
    timer: 8000
});
Toast.fire({
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        icon: 'error',
        {% endif %}
        
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        icon: 'success',
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        icon: 'warning',
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        icon: 'info',
        {% endif %}
        title: '{{message}}'
      })
</script>
{% endfor %}
{% endblock %}