{% extends "base.html" %}
{% load app_filters %}
{% load static %}

{% block title %}
Edit Application
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'my-applications' %}">Applications</a></li>
{% endblock %}

{% block breadcrumb %}
Edit Application
{% endblock %}


{% block content %}
    <form class="form" method="POST">
        {% csrf_token %}
        {% for question in questions %}
          {% if question.question.type == "RESPONSE" %}
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{question.question.name}}<br>
                <small>{{question.question.help_text}}</small>
              </h3>
              <!-- tools card -->
              <div class="pull-right card-tools">
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pad">
                <textarea class="textarea" id="question_{{question.question.pk}}" name="question_{{question.question.pk}}" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                {{question.response.response}}
                </textarea>
            </div>
          </div>
          {% else %}
          <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{question.question.name}}<br>
                <small>{{question.question.help_text}}</small>
                </h3>
            </div>
            <div class="card-body pad">
              <select class="form-control" id="question_{{question.question.id}}" name="question_{{question.question.pk}}" required>
                <option selected hidden>{{question.response.response}}</option>
                {% for choice in question.question.choices|choiceBuilder %}
                  <option>{{choice}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <button class="btn btn-lg btn-info btn-block btn-fill" type="submit">Submit</button>
    </form>
{% endblock %}


{% block scripts %}
<script>
  $(function () {
    // Summernote
    $('.textarea').summernote()
  })
</script>
{% endblock %}