{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Applications
{% endblock %}

{% block breadcrumb %}
Applications
{% endblock %}



{% block content %}
<div class="card">
    <div class="card-header">
      {% if perms.applications.view_application %}
      <a href="{% url 'application-list' %}" class="float-right btn btn-info">Manage Applications</a>
      {% endif %}
      <h3 class="pull-left">
      My Applications
      </h3>
      
    </div>
    <div class="card-body">
      {% if application_templates %}
      <table class="table table-bordered">
        <thead>
          <th scope="col">Application</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
            {% for application_template in application_templates %}
            <tr>
                <td>{{application_template.template.name}}</td>
                <td>{{application_template.template.description}}</td>
                {% if application_template.in_progress %}
                <td><a href="{% url 'application-modify' application_template.application.pk %}" class="btn btn-block btn-warning text-white">Edit Application</a></td>
                {% else %}
                <td><a href="{% url 'application-create' application_template.template.pk %}" class="btn btn-block btn-success">Create Application</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No applications available for submission.</p>
      {% endif %}
    </div>
    
</div>
{% endblock %}