{% extends "dashboard/base.html" %}

{% block content %}
<div style="min-height: 500px;" class="row">
  <table class="table" style="width: 100%">
    <tr>
      <th class="tablehead">User</th>
      <th class="tablehead">Actions</th>
    </tr>
    {% for profile in profiles %}
    <tr>
      <td>
        {{ profile.user.username }}
      </td>
      <td>
        <button class="btn btn-primary btn-xs">edit</button>
      </td>
    </tr>
    {% endfor %}
</div>
{{ global_profile }}
{% endblock %}
