{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block brand %}
Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-md-10">
            <div style="padding: 10px 10px 10px 10px" class="card text-center">
                    <h4 class="text-center">Account Setup</h4>
                <div id="chart" class="ct-chart ct-golden-section ct-negative-labels"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var progress = 0;
    {% if profile %}
    progress += 25;
    {% endif %}
    {% if profile.games.count > 0 %}
    progress += 25;
    {% endif %}
    {% if profile.guilds.count > 0 %}
    progress += 25;
    {% endif %}

    progress_label = progress + "%" + " Complete"
    progress_remaining_label = 100 - progress + "% Remaining"
    new Chartist.Pie('.ct-chart', {
        labels: [progress_label, progress_remaining_label],
        series: [progress, 100 - progress]
    }, {
        donut: true,
        donutWidth: 100,
        startAngle: 270,
        total: 100,
        showLabel: true
    });
</script>
{% endblock %}
