{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% block brand %}
Dashboard
{% endblock %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
    <div class="card">
        <div style="padding: 10px 10px 10px 10px" class="card text-center">
                <h4 class="text-center">Account Setup</h4>
            <div id="chart" class="ct-chart ct-golden-section ct-negative-labels"></div>
        </div>
    </div>
</div>

<script>
    var progress = 0;
    {% if profile %}
    progress += 25;
    {% endif %}
    {% if profile.games.count > 0 %}
    progress += 25;
    {% endif %}
    {% if profile.guilds.count > 0 %}
    progress += 25;
    {% endif %}

    progress_label = progress + "%" + " Complete"
    progress_remaining_label = 100 - progress + "% Remaining"
    new Chartist.Pie('.ct-chart', {
    series: [progress, 100-progress],
    labels: [progress_label, " "]
    }, {
      donut: true,
      donutWidth: 80,
      startAngle: 270,
      total: 200,
      showLabel: true
    });
</script>
{% endblock %}
