{% extends "dashboard/base.html" %}

{% block content %}
<!-- HEADER -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      User <small>{{profile.user.username}}</small>{% if profile.user = user %}
      <i style="padding-left: 0.5%; font-size: 20px;" onclick="location.href='{% url 'modify-profile' profile.id%}'" class="fa fa-pencil"></i>
      {% endif %}
    </h1>
  </div>
</div>

<!-- SOCIAL -->
<div class="row">
  <div class="col-lg-12">
    <h3>Biography</h3>
    <p style="word-wrap: break-word;">{{profile.biography}}</p>
    <hr> 

    <h3>Games</h3>
    {% if profile.games.all.count != 0 %}
      {% for game in profile.games.all %}
        <p>{{game.title}}</p>
      {% endfor %}

    {% else %}
    <p>No games found.</p>

    {% endif %}
    <hr>
    
    <h3>Social</h3>
    <p>Not implemented</p>
  </div>
</div>
{% endblock %}
