{% extends 'base.html' %}
{% load staticfiles %}
{% load core_filters %}
{% load crispy_forms_tags %}

{% block brand %}
  <h1>
    Events
    <small>Modify event</small>
  </h1>
{% endblock %}

{% block content %}
{% crispy form %}
{% endblock %}

{% block scripts %}
<script src="{% static 'global/ui/bower_components/moment/moment.js' %}"></script>
{# <script src="{% static 'global/ui/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js'%}"></script> #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
  $('.datetimeinput').parent().datetimepicker({
    format: 'YYYY-MM-DD HH:mm'
  });
</script>
{% endblock %}
