<tr class="event_row {% if event.is_expired %} expired {% endif %}" {% if event.is_expired %} hidden {% endif %}>
  <td>
    <div id="{{event.pk}}" class="countdown">
      <p class="date" hidden>{{event.start_datetime}}</p>
      <p class="counter"></p>
    </div>
  </td>
  <td data-order="{{ event.start_datetime.isoformat }}">{{event.start_datetime |date:"M d, H:i e" }}</td>
  <td>@{{event.user.discord.username}}</td>
  <td>{{event.name}}</td>
  <td>{{event.guild}}</td>
  <td>
    <button onclick="location.href='{% url 'view-event' event.pk %}'" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="View"><i class="fa fa-fw fa-eye"></i></button>
    {% if not event.is_expired %}
    {% if user in event.registrants.all %}
    <button onclick="location.href='{% url 'edit-event-remove-registrant' event.pk %}'" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Unregister"><i class="fa fa-fw fa-times"></i></button>
    {% else %}
    <button onclick="location.href='{% url 'edit-event-add-registrant' event.pk %}'" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Register"><i class="fa fa-fw fa-check"></i></button>
    {% endif %}
    {% endif %}
    {% if user not in event.participants.all %}
      <button
        class="btn btn-warning"
        data-toggle="modal"
        data-target="#participationModal"
        data-event-pk="{{ event.pk }}">
          <i data-toggle="tooltip" data-placement="top" title="Enter Participation Password" class="fa fa-fw fa-unlock"></i>
      </button>
    {% endif %}

  </td>
  {% if user == event.user or perms.core.manage_events %}
  <td>
    <button onclick="copyStringToClipboard('{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'edit-event-add-participant' event.pk %}?password={{ event.password }}')" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Copy Attendence Link"><i class="fa fa-fw fa-key"></i></button>
    <button onclick="location.href='{% url 'edit-event' event.pk %}'" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-fw fa-pencil"></i></button>
    <button onclick="location.href='{% url 'remove-event' event.pk %}'" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove"><i class="fa fa-fw fa-trash"></i></button>
  </td>
  {% endif %}
</tr>
