<h3>Characters</h3>
{% if characters %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Portrait</th>
      <th>Character Name</th>
      <th>Character Type</th>
    </tr>
  </thead>
  <tbody>
  {% for character in characters %}
    <tr>
      <td>
          <img style="width: 50px;" src="{{character.character_portrait}}"/>
      </td>
      <td>
          <a href="/eve/character/{{character.token.character_id}}/" target="_blank">{{character.character_name}}</a>
      </td>
      <td>
          {% if character.main == None %}
          <div class="form-control" disabled>
            Main Character
          </div>
          {% elif character.character_alt_type != None %}
          <div class="form-control" disabled>
            {{character.get_character_alt_type_display}}
          </div>
          {% else %}
          <div class="form-control" disabled>
            Unknown
          </div>
          {% endif %}
    </tr>
  {% endfor %}
  <!-- Bottom Divider -->
  <tr><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>
{% else %}
<p>None found.</p>
{% endif %}
