{% extends "base.html" %}
{% load staticfiles %}

{% block brand %}
  <h1>
    Applications
    <small>Applications to the community</small>
  </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#pending">
        Pending
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#complete">
        Complete
      </a>
    </li>
  </ul>
</div>

<div class="tab-content box">
    <div id="pending" class="tab-pane fade in active box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Date Submitted</th>
            <th scope="col">Group</th>
  					<th scope="col">User</th>
            <th scope="col">Recruiter</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for application in applications %}
          {% if application.status == "PENDING" %}
  				<tr>
            <td>{{application.request_date | date:"F d, Y"}} </td>
            <td>{{application.template.group.name}}</td>
            <td>{{application.request_user}}</td>
            <td>
              {% if application.response_user %}
              {{application.response_user}}
              {% else %}
              <a href="{% url 'assign-application' application=application.pk user=request.user.pk %}">
                Assign self
              </a>
              {% endif %}
            </td>
            <td>
              <button class="btn btn-info" onclick="location.href='{% url "view-application" pk=application.id %}'"><i class="fa fa-eye"></i></button>
            </td>
  				</tr>
          {% endif %}
          {% endfor %}
  			</tbody>
  		</table>
    </div>
  <div id="complete" class="tab-pane fade box-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Date Submitted</th>
          <th scope="col">Action</th>
					<th scope="col">User</th>
					<th scope="col">Group</th>
          <th scope="col">Recruiter</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
        {% for application in applications %}
        {% if application.status != "PENDING" %}
				<tr>
          <td>
            {{application.request_date}}
          </td>
          <td>
            {% if application.status == "ACCEPTED" %}
            <span class="label label-success" title="{{application.response_date}}">ACCEPTED</span>
            {% else %}
            <span class="label label-danger" title="{{application.response_date}}">REJECTED</span>
            {% endif %}
          </td>
          <td>{{application.request_user}}</td>
          <td>{{application.template.group.name}}</td>
          <td>
            {% if application.response_user %}
            {{application.response_user}}
            {% else %}
            <a href="{% url 'assign-application' application=application.pk user=request.user.pk %}">
              Assign self
            </a>
            {% endif %}
          </td>
          <td>
            <button class="btn btn-info" onclick="location.href='{% url "view-application" pk=application.id %}'"><i class="fa fa-eye"></i></button>
          </td>
				</tr>
        {% endif %}
        {% endfor %}
			</tbody>
		</table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
