{% extends "core/sidebar.html" %}
{% block brand %}
  <h1>
    View Application
    <small>{{application.template.guild.name}} | {{application.request_user.username}} (Age {{application.request_user.info.age}})</small>
  </h1>
{% endblock %}
{% block content %}
<!-- Game Specific -->
{% if application.request_user.evecharacter_set.all %}
<div class="box">
  <div class="box-body">
    {% include 'applications/games/eve_character_display.html' %}
  </div>
</div>
{% endif %}

<!-- Application Body -->
<h3>Responses</h3>
{% for response in responses %}
<div class="panel panel-default">
  <div class="panel-heading">{{response.question.name}}</div>
  <div class="panel-body">{{response.response}}</div>
</div>
{% endfor %}
<hr>
<div class="container text-center">
  <button
    onclick="location.href='{% url 'approve-application' application=application.pk %}'"
    class="col-xs-2 col-xs-offset-2 btn btn-success btn-fill"
    {% if not perms.applications.change_application %}disabled{% endif %}>
    Approve
  </button>
  <button
    onclick="location.href='#'"
    class="col-xs-2 col-xs-offset-1 btn btn-warning btn-fill"
    title="Not implemented"
    {% if not perms.applications.delete_application %}disabled{% endif %}>
    Delete
  </button>
  <button
    onclick="location.href='{% url 'deny-application' application=application.pk %}'"
    class="col-xs-2 col-xs-offset-1 btn btn-danger btn-fill"
    {% if not perms.applications.change_application %}disabled{% endif %}>
    Reject
  </button>
</div>

{% endblock %}
