{% load staticfiles %}
<head>
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <link href="{% static "accounts/css/accounts.css" %}" rel="stylesheet">

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "accounts/js/accounts.js" %}"></script>

</head>


<body>
    <div class="container text-center" style="color: white; font-family: Arial;">
      <h1>Error 500</h1>
      <h2>You found a bug. We're sorry about that. We'd appreciate it if you reported it to us
      <a href="https://github.com/porowns/kryptedauth/issues">here.</a></h2>
    </div>

    <div id="particles"></div>

</body>
