{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'app/css/error.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
    <!-- partial:index.partial.html -->
    <button class="error-code">
        <div class="number five">
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>

            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
        </div>
        <div class="number zero">
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
        </div>
        <div class="number zero">
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>

            <div class="cell empty"></div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell filled">
                <div class="bug"></div>
            </div>
            <div class="cell empty"></div>
        </div>
    </button>
    <!-- partial -->

</body>

</html>