{% load staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html>

<head>
{% include 'components/head.html' %}
{% block head %}
{% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Navigation Bar -->
        {% include 'components/navbar.html' %}
        <!-- End Navgiation Bar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link navbar-primary">
            <img src="https://images.evetech.net/corporations/98479678/logo?size=128"  class="brand-image"
                style="opacity: .8">
            <span class="brand-text font-weight-light">Krypted Platform</span>
            </a>
        
            <!-- Sidebar -->
            <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                {% if user.info.display_avatar %}
                <img src="https://images.evetech.net/characters/634915984/portrait?size=128" class="img-circle elevation-2">
                {% else %}
                <img src="{% static 'app/images/default_user_profile.jpg' %} " class="img-circle elevation-2" alt="User Image">
                {% endif %}
                
                </div>
                <div class="info">
                <a href="#" class="d-block">
                {% if user.info.display_name %}
                    {{user.info.display_name}}
                {% else %}
                    {{request.user.username}}
                {% endif %}
                </a>
                </div>
            </div>
        
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-header">MAIN NAVIGATION</li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="nav-icon far fas fa-tachometer-alt"></i>
                            <p>
                            Dashboard
                            </p>
                        </a>
                    </li>
                    {% if 'group_requests' in INSTALLED_APPS %}
                    <li class="nav-item">
                        <a href="{% url 'group-list' %}" class="nav-link">
                            <i class="nav-icon far fas fa-user"></i>
                            <p>
                            Groups
                            </p>
                        </a>
                    </li>
                    {% endif %}
                    {% if 'applications' in INSTALLED_APPS %}
                    <li class="nav-item">
                        <a href="{% url 'my-applications' %}" class="nav-link">
                            <i class="nav-icon far fas fa-pencil-alt"></i>
                            <p>
                            Applications
                            </p>
                        </a>
                    </li>
                    {% endif %}
                    <!-- Extension Links -->
                    {% if SIDEBAR_BINDINGS %}
                    <li class="nav-header">EXTENSIONS</li>
                    {% for binding in SIDEBAR_BINDINGS %}
                        {% if binding.parent_menu_item.url %}
                        <li class="nav-item">
                            <a href="{{binding.parent_menu_item.url}}" class="nav-link">
                                <i class="nav-icon far fas {{binding.parent_menu_item.fa_icon}}"></i>
                                <p>
                                {{binding.parent_menu_item.name}}
                                </p>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fas {{binding.parent_menu_item.fa_icon}}"></i>
                                <p>
                                {{binding.parent_menu_item.name}}
                                <i class="fas fa-angle-left right">

                                </i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                {% for child_binding in binding.children_menu_items %}
                                <li class="nav-item">
                                  <a href="{{child_binding.url}}" class="nav-link">
                                    <i class="nav-icon far fas {{child_binding.fa_icon}}"></i>
                                    <p>{{child_binding.name}}</p>
                                  </a>
                                </li>
                                {% endfor %}
                              </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    <!-- Platform Links -->
                    <li class="nav-header">PLATFORM</li>
                    <li class="nav-item">
                        <a href="https://kryptedgaming.github.io/krypted/" class="nav-link">
                            <i class="nav-icon far fas fa-book"></i>
                            <p>
                            Documentation
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/setup" class="nav-link">
                            <i class="nav-icon far fas fa-cog"></i>
                            <p>
                            Settings
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon far fas fa-wrench"></i>
                            <p>
                            Admin Panel
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                        {% block title %}
                        Dashboard
                        {% endblock %}
                        </h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        {% block breadcrumbs %}
                        {% endblock %}
                        <li class="breadcrumb-item active">
                            {% block breadcrumb %}
                            Dashboard
                            {% endblock %}
                        </li>
                        </ol>
                    </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                
                {% block content %}
                {% endblock %}
                </div>
            
            </section>
            <!-- /.content -->

        </div>


        {% include 'components/footer.html' %}
    </div>
    {% include 'components/scripts.html' %}
    {% block scripts %}
    {% endblock %}
    {% include 'components/messages.html' %}
</body>
</html>