{% extends 'global/global_base.html' %}

{% block sidebar %}

    <ul class="nav">
        <li {% if request.path == '/' %} class="active" {% endif %}>
            <a href="{% url 'dashboard' %}">
                <i class="fa fa-home"></i>
                <p>Dashboard</p>
            </a>
        </li>
		<li>
    		<a href="/games/">
    				<i class="fa fa-gamepad"></i>
    				<p>Games</p>
    		</a>
		</li>
		<li>
    		<a href="/guilds/">
    				<i class="fa fa-star"></i>
    				<p>Guilds</p>
    		</a>
		</li>

	<li class="divider"></li>
    </ul>
{% endblock %}
