{% extends "base/base.html" %}
{% load staticfiles %}
{% block brand %}
      <h1>
        Dashboard
        <small>Summary</small>
      </h1>
{% endblock %}

{% block content %}
<div id="main">
  <div class="col-md-4 ">
      <div class="box box-widget">
          <div style="padding: 5px 5px 5px 5px" class="card text-center">
                  <h4 class="text-center">Guilds</h4>
                  <hr>
                  {% if profile.guilds.all %}
                      {% for guild in profile.guilds.all %}
                      <button onclick="location.href='/{{guild.slug}}/'" style="min-width: 75%;" class="btn btn-info btn-fill"><img style="float: left; width: 25px;" src="{{guild.image}}"/> {{guild.title}}</button>
                      <hr>
                      {% endfor %}
                  {% else %}
                  You need to join a guild.
                  <hr>
                  {% endif %}
          </div>
      </div>
  </div>

  <div class="col-md-4 ">
      <div class="box box-widget">
          <div style="padding: 5px 5px 5px 5px" class="card text-center">
            <div class="container-fluid">
                  <h4 class="text-center">Services</h4>
                  <hr>
                  {% if slack_enabled %}
                  <button onclick="location.href='{% url 'slack_resend' %}'" style="min-width: 75%;" class="btn btn-{% if slack_user %}success{%else%}danger{%endif%}">Slack</button>
                  <hr>
                  {% endif %}
                  <button onclick="location.href='{% url 'discord_index' %}'" style="min-width: 75%;" class="btn btn-{% if discord_user %}success{%else%}danger{%endif%}">Discord</button>
                  <hr>
                  <button onclick="location.href='https://forum.kryptedgaming.com'" style="min-width: 75%;" class="btn btn-{% if discourse_user %}success{%else%}danger{%endif%}">Forum</button>
                  <hr>
                  <p>If a service has a red background, click on it to enable it.</p>
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-4 ">
      <div class="box box-widget">
          <div style="padding: 5px 5px 5px 5px" class="card text-center">
                  <h4 class="text-center">Stats</h4>
                  <hr>
                  Under construction.
                  <hr>
          </div>
      </div>
  </div>
</div>
{% endblock %}
