{% extends 'base/base.html' %}

{% block brand %}
      <h1>
        Games
        <small>Unlocks Discord channels</small>
      </h1>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Game</th>
        <th>Leadership</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for game in games%}
      <tr>
        <td>{{game.title}}</td>
        <td>{% if leadership %}{{game.leadership}}{%else%}None{%endif%}</td>
        <td>
            {% if game in profile.games.all %} <button onclick="location.href='/profile/remove-game/name={{game.id}}'" class="btn btn-fill btn-danger"><i class="fa fa-times"></i></button>
            {% else %} <button onclick="location.href='/profile/add-game/name={{game.id}}'"class="btn btn-fill btn-success"><i class="fa fa-plus"></i></button>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
