{% extends 'base/base.html' %}
{% load staticfiles %}
{% load core_filters %}

{% block brand %}
  <h1>
    Groups
    <small>Manage authentication group requests</small>
  </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#request">
        Request
      </a>
    </li>
    {% if manage %}
    <li>
      <a data-toggle="tab" href="#pending">
        Pending
      </a>
    </li>
    {% endif %}
    {% if audit %}
    <li>
      <a data-toggle="tab" href="#log">
        Log
      </a>
    </li>
    {% endif %}
  </ul>
</div>

<div class="tab-content box">
    <div id="request" class="tab-pane fade in active box-body">
      <table class="table">
        <thead>
          <th scope="col">Group</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
          {% for group in groups %}
          <tr>
            <td>{{group.group.group.name|cleanGroupName}}</td> {# oh man.. that chain #}
            <td>{{group.group.description}}</td>
            {% if group.requested %}
            <td><i class="fa fa-spinner fa-spin"></i></td>
            {% elif group.group.group in user.groups.all %}
            <td><button onclick="location.href='{% url 'group-remove-user' group.group.group.pk request.user.pk %}'" class="btn btn-danger">Leave</button></td>
            {% else %}
            <td><button onclick="location.href='{% url 'group-apply' group.group.group.pk %}'" class="btn btn-success">Apply</button></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div id="pending" class="tab-pane fade box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Group</th>
            <th scope="col">Character</th>
  					<th scope="col">User</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for group_request in group_requests %}
  				<tr>
            <td>{{group_request.request.group.group.name}}</td>
            <td>{{group_request.character}}</td>
            <td>{{group_request.request.user.username}}</span></td>
            <td>
            {% if group_request.permission %}
              <button class="btn btn-success" onclick="location.href='{% url 'group-add-user' group_request.request.group.group.pk group_request.request.user.pk %}'"><i class="fa fa-check"></i></button>
              <button class="btn btn-danger" onclick="location.href='{% url 'group-remove-user' group_request.request.group.group.pk group_request.request.user.pk %}'"><i class="fa fa-times"></i></button>
            {% else %}
            No access.
            {% endif %}
            </td>
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
    </div>
  <div id="log" class="tab-pane fade box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Group</th>
            <th scope="col">Character</th>
  					<th scope="col">User</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for group_request in audit_requests %}
  				<tr>
            <td>{{group_request.request.group.group.name}}</td>
            <td>{{group_request.character}}</td>
            <td>{{group_request.request.user.username}}</span></td>
            {% if group_request.permission %}
            <td>
              <button class="btn btn-danger" onclick="location.href='{% url 'group-remove-user' group_request.request.group.group.pk group_request.request.user.pk %}'"><i class="fa fa-undo"></i></button>
            </td>
            {% endif %}
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
