{% extends 'base/base.html' %}

{% block brand %}
  <h1>
    Guilds
    <small>Small communities built around games</small>
  </h1>
{% endblock %}

{% block content %}
<style>
.guildbtn {
    min-width: 50%;
}
</style>
<div class="box">
  <div class="box-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Guild</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for guild in guilds %}
        <tr>
          <td><img style="width: 26px;" src="{{guild.image}}"/></td>
          <td><a href="/{{guild.slug}}">{{guild.name}}</a></td>
          <td>
              {% if guild not in request.user.guilds.all %}
              <button onclick="location.href='/applications/add/{{guild.slug}}/'" class="guildbtn btn btn-success btn-fill">Apply</button>
              {% else %}
              <button onclick="location.href='/{{guild.slug}}/'" class="guildbtn btn btn-info btn-fill">View</button>
              {% endif %}
          </td>
        </tr
      {% endfor %}
      <!-- Bottom Divider -->
      </tbody>
    </table>
  </div>
</div>


{% endblock %}
