{% extends 'base/base.html' %}

{% block brand %}
Guilds
{% endblock %}

{% block content %}
<style>
.guildbtn {
    min-width: 50%;
}
</style>
<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Guild</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for guild in guilds %}
      <tr>
        <td><img style="width: 50px;" src="{{guild.image}}"/></td>
        <td>{{guild.title}}</td>
        <td>
            {% if guild in profile.guilds.all %} <button onclick="location.href='/{{guild.slug}}/'" class="guildbtn btn btn-info btn-fill">View</button>
            {% else %} <button onclick="location.href='/{{guild.slug}}/apply/'" class="guildbtn btn btn-success btn-fill">Apply</button>
            {% endif %}

        </td>
      </tr
    {% endfor %}
    <!-- Bottom Divider -->
    <tr><td></td><td></td><td></td></tr>
    </tbody>
  </table>
  <button class="col-md-4 col-md-offset-4 btn btn-primary btn-fill">My Applications</button>
</div>


{% endblock %}
