{% extends 'base/base.html' %}
{% load staticfiles %}

{% block brand %}
      <h1>
        Members
        <small>Members of the community.</small>
      </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">User</th>
  					<th scope="col">Services</th>
  					<th scope="col">Games</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for member, data in members.items %}
  				<tr>
            <td>{{member}}</td>
            <td>
              {% if data.discord %} <img width="20px" title="{{data.discord_user}}" src="{% static 'global/img/icons/discord.png' %}"> {% endif %}
              {% if data.discourse %} <img width="20px" src="{% static 'global/img/icons/discourse.png' %}"> {% endif %}
            </td>
            <td>
              {% if data.eve %} <img width="20px" title="{{data.eve_character}}" src="{% static 'global/img/icons/eve_online.png' %}"> {% endif %}
              {% if data.wow %} <img width="20px" src="{% static 'global/img/icons/world_of_warcraft.png' %}"> {% endif %}
              <!-- SEARCH HELPERS-->
              <p hidden>{{data.eve_character}}</p>
            </td>
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
