{% extends "base.html" %}
{% load staticfiles %}
{% load core_filters %}
{% load crispy_forms_tags %}
{% block brand %}
  <h1>
    Edit Account
    <small>{{request.user.username}}</small>
  </h1>
{% endblock %}
{% block content %}
<div>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="pull-left btn btn-primary" type="submit" value="Update Account">
    
  </form>
  <button class="pull-right btn btn-danger" disabled title="Being Implemented">Delete Account</button>
</div>

{% endblock %}
