{% extends "accounts/authentication_base.html" %}

{% block heading %}
<div class="panel-title text-center">Please log in.</div>
{% endblock %}

{% block form_action %}
{% if next %}
<form action="/login/?next={{next}}" name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
{% else %}
<form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
{% endif %}
{% endblock %}

{% block fields %}
<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username or Email" required>
</div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
</div>
{% endblock %}

{% block submit %}
<div class="form-group">
    <div class="col-sm-12 controls login-btn">
        <button type="submit" href="#" class="btn btn-primary btn-log"> Submit</button>
    </div>
</div>
{% endblock %}


{% block endform %}
</form>
{% endblock %}

{% block box_footer %}
<div class="register-help">
    <a href="{% url 'register' %}">Don't have an account?</p>
    <a href="{% url 'password_reset' %}">Forgot your password?</p>
</div>
{% endblock %}
