{% extends "accounts/authentication_base.html" %}

{% block heading %}
<div class="panel-title text-center">Please register.</div>
{% endblock %}

{% block form_action %}
<form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
{% endblock %}

{% block fields %}
<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="username" type="text" class="form-control" name="username" value="" maxlength="64" placeholder="Username" required>
</div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input id="email" type="email" class="form-control" name="email" value="" maxlength="64" placeholder="Email" required>
</div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    <select id="timezone" name="timezone" class="form-control" required>
      <option value="" disabled selected>Select Active Timezone</option>
      <option value="US">US (United States)</option>
      <option value="EU">EU (European)</option>
      <option value="AU">AU (Australian)</option>
    </select>
</div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
</div>

<div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="vpassword" type="password" class="form-control" name="vpassword" placeholder="Repeat Password" required>
</div>
{% endblock %}

{% block submit %}
<div class="form-group">
    <div class="col-sm-12 controls login-btn">
        <button type="submit" href="#" class="btn btn-primary btn-log"> Submit</button>
    </div>
</div>
{% endblock %}


{% block endform %}
</form>
{% endblock %}

{% block box_footer %}
<div class="register-help">
    <a href="{% url 'login' %}">Already have an account?</p>
</div>
{% endblock %}
