{% extends 'base/base.html' %}

{% block brand %}
Guilds
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-striped">
      <h3>Guilds</h3>
    <thead>
      <tr>
        <th>Icon</th>
        <th>Guild</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for guild in guilds%}
      <tr>
        <td><img style="width: 50px;" src="{{guild.image}}"/></td>
        <td>{{guild.title}}</td>
        <td>
            <button class="btn btn-success btn-fill">Join</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
