{% extends 'base/base.html' %}

{% block brand %}
Guilds
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Icon</th>
        <th>Guild</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for guild in guilds %}
      <tr>
        <td><img style="width: 50px;" src="{{guild.image}}"/></td>
        <td>{{guild.title}}</td>
        <td>
            {% if guild in profile.guilds.all %} <button class="btn btn-info btn-fill">View</button>
            {% else %} <button class="btn btn-success btn-fill">Join</button>
            {% endif %}

        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
