{% extends 'core/sidebar.html' %}
{% load staticfiles %}
{% load core_filters %}
{% load crispy_forms_tags %}

{% block brand %}
  <h1>
    Surveys
    <small>View survey</small>
  </h1>
{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Name</h3>
  </div>
  <div class="box-body">{{survey.name}}</div>
</div>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Group</h3>
  </div>
  <div class="box-body">{{survey.group}}</div>
</div>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Description</h3>
  </div>
  <div class="box-body">{{survey.description}}</div>
</div>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Survey URLs</h3>
  </div>
  <div class="box-body">
    <ul>
      <li>Redirect URL: <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'redirect-survey' survey.pk %}">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'redirect-survey' survey.pk %}</a></li>
      <li>Survey URL: <a href="{{survey.url}}">{{survey.url}}</a></li>
    </ul>
  </div>
</div>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Completion URL</h3>
  </div>
  <div class="box-body"><a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'complete-survey' survey.pk %}?survey_key={{survey.survey_key}}">{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'complete-survey' survey.pk %}?survey_key={{survey.survey_key}}</a></div>
</div>
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Started</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">{{ survey.users_started.all|length }}/{{ total_users }}</span>
    </div>
  </div>
  <div class="box-body">
    {% if survey.users_started.all %}
    {% for u in survey.users_started.all %}
    <span class="badge">{{u.username}}</span>
    {% endfor %}
    {% else %}
    <i>None</i>
    {% endif %}
  </div>
</div>
<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Completed</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">{{ survey.users_completed.all|length }}/{{ total_users }}</span>
    </div>
  </div>
  <div class="box-body">
    {% if survey.users_completed.all %}
    {% for u in survey.users_completed.all %}
    <span class="badge">{{u.username}}</span>
    {% endfor %}
    {% else %}
    <i>None</i>
    {% endif %}
  </div>
</div>

{% if survey_users_missing %}
<div class="box box-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Not Completed</h3>
    <div class="box-tools pull-right">
      <span class="label label-primary">{{ survey_users_missing|length }}/{{ total_users }}</span>
    </div>
  </div>
  <div class="box-body">
    {% for u in survey_users_missing %}
    <span class="badge">{{u.username}}</span>
    {% endfor %}
  </div>
</div>
{% endif %}

<button onclick="location.href='{% url 'surveys' %}'" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Back"><i class="fa fa-fw fa-arrow-left"></i></button>
{% endblock %}
