{% extends 'eveonline/base.html' %}
{% load staticfiles %}

{% block brand %}
  <h1>
    Doctrines
    <small>Stuff to fly</small>
  </h1>
{% endblock %}
{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-body">
  		<table class="table">
  			<thead>
  				<tr>
  				    <th scope="col">Name</th>
                    <th scope="col">Description</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
            {% for doctrine in doctrines %}
  				<tr>
                    <td>
                        {{doctrine.name}}
                    </td>
                    <td>
                        {{doctrine.description}}
                    </td>
                    <td>
                        <a href="{% url 'eve-online-view-doctrine' doctrine.pk %}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                    </td>
  				</tr>
            {% endfor %}
  			</tbody>
  		</table>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}