{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{SITE_NAME}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'accounts/images/icons/favicon.png' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'accounts/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
        href="{% static 'accounts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/accounts.css' %}">
    <!--===============================================================================================-->
    <style>
    .container {
        padding: 2rem 0rem;
    }
    
    .modal-dialog {
        margin-top: 0rem;
        max-width: 100%;
        
        .modal-content {
        border-radius: 0rem;
        }
        
        .buttons {
        .btn {
            margin: 0.2rem;
        }
        }
    }
    </style>
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'accounts/images/background.jpg' %}');">
            <div class="wrap-login100 p-t-190 p-b-30">
                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <div class="login100-form-avatar">
                        <img src="{% static 'accounts/images/logo.png' %}" alt="KRYPTED LOGO">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45"></span>

                    {% block content %}
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    {% endblock %}


                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn">
                            {% block action %}
                            Login
                            {% endblock %}
                        </button>
                    </div>

                    {% block extras %}
                    <div class="text-center w-full p-t-25">
                        <a href="#" class="txt1">
                            Forgot Username / Password?
                        </a>
                    </div>

                    <div class="text-center w-full p-t-25 p-b-230">
                        <a class="txt1" href="#">
                            Create new account
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>



    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
      <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="notice d-flex justify-content-between align-items-center">
                <div class="cookie-text">This website uses cookies to personalize content and analyse traffic in order to offer you a better experience.</div>
                <div class="buttons d-flex flex-column flex-lg-row">
                  <a onclick="Cookielaw.createCookielawCookie();" class="btn btn-success btn-sm" data-dismiss="modal">I accept</a>
                  <a href="https://kryptedgaming.github.io/krypted/user_guide/privacy/" class="btn btn-secondary btn-sm" data-dismiss="modal">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'accounts/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'accounts/js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.js"></script>
    <script>
      $(document).ready(function() {  
          if (!document.cookie.includes("cookielaw_accepted=1")) {
            $('#cookieModal').modal('show');
          }
        
      });
    </script>
    {% if GOOGLE_ANALYTICS == True %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62231299-6"></script>
    <script>
    console.log('Google analytics enabled')
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-62231299-6');
    </script>
    {% endif %}
</body>

</html>