{% extends "core/sidebar.html" %}
{% load staticfiles %}
{% block brand %}
      <h1>
        Dashboard
        <small>Summary</small>
      </h1>
{% endblock %}

{% block content %}
<div id="main">
  <div class="col-md-6 ">
      <div class="box box-widget">
          <div style="padding: 5px 5px 5px 5px" class="card text-center">
                  <h4 class="text-center">Groups</h4>
                  <hr>
                  {% for group in request.user.groups.all %}
                  {{group}}
                  {% endfor %}
          </div>
      </div>
  </div>

  <div class="col-md-6 ">
      <div class="box box-widget">
          <div style="padding: 5px 5px 5px 5px" class="card text-center">
            <div class="container-fluid">
                  <h4 class="text-center">Services</h4>
                  <hr>
                  {% if "modules.discord" in installed_apps %}
                  <button onclick="location.href='{% url 'discord_index' %}'" style="min-width: 75%;" class="btn btn-{% if request.user.info.discord %}success{%else%}danger{%endif%}">Discord</button>
                  <hr>
                  {% endif %}
                  {% if "modules.discourse" in installed_apps %}
                  <button onclick="location.href='{{forum_url}}'" style="min-width: 75%;" class="btn btn-{% if request.user.info.discourse %}success{%else%}danger{%endif%}">Forum</button>
                  <hr>
                  {% endif %}
                  If a service has a red background, click on it to enable it.
                  <hr>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
