{% extends 'core/sidebar.html' %}
{% load staticfiles %}
{% load core_filters %}

{% block brand %}
  <h1>
    Groups
    <small>Manage authentication group requests</small>
  </h1>
{% endblock %}

{% block includes %}
<link rel="stylesheet" href="{% static 'global/ui/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}
{% block content %}
<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#request">
        Request
      </a>
    </li>
    {% if manage %}
    <li>
      <a data-toggle="tab" href="#pending">
        Pending
      </a>
    </li>
    {% endif %}
    {% if audit %}
    <li>
      <a data-toggle="tab" href="#log">
        Log
      </a>
    </li>
    {% endif %}
  </ul>
</div>

<div class="tab-content box">
    <div id="request" class="tab-pane fade in active box-body">
      <table class="table">
        <thead>
          <th scope="col">Group</th>
          <th scope="col">Description</th>
          {% if "modules.guild" in installed_apps %}
          <th scope="col">Guild</th>
          {% endif %}
          <th scope="col">Action</th>
        </thead>
        <tbody>
          {% for group in groups %}
          <tr>
            <td>{{group.group.name|cleanGroupName}}</td>
            <td>{{group.group.info.description}}</td>
            {% if "modules.guild" in installed_apps %}
            <td>
              {% if group.group.guilds.all %}
              {{group.group.guilds.all | join:" // " }}
              {% else %}
              Community
              {% endif %}
            </td>
            {% endif %}
            {% if group.requested %}
            <td><button onclick="" class="btn btn-block btn-warning" disabled>Requested</button></td>
            {% elif group.group in request.user.groups.all %}
            <td><button onclick="location.href='{% url 'group-remove-user' group.group.id request.user.id %}'" class="btn btn-block btn-danger">Leave</button></td>
            {% else %}
              {% if group.group.info.type == "PUBLIC" %}
              <td><button onclick="location.href='{% url 'group-apply' group.group.id %}'" class="btn btn-block btn-success">Join</button></td>
              {% else %}
                {% if "modules.applications" in installed_apps %}
                {% if group.group.application_template %}
                <td><button onclick="location.href='{% url 'add-application' group.group.pk %}'" class="btn btn-block btn-warning">Apply</button></td>
                {% endif %}
                {% else %}
                <td><button onclick="location.href='{% url 'group-apply' group.group.id %}'" class="btn btn-block btn-info">Request</button></td>
                {% endif %}
              {% endif %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div id="pending" class="tab-pane fade box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Group</th>
            {% if "modules.guild" in installed_apps %}
            <th scope="col">Guild</th>
            {% endif %}
  					<th scope="col">User</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for group_request in group_requests %}
  				<tr>
            <td>{{group_request.request.request_group.name}}</td>
            {% if "modules.guild" in installed_apps %}
            {% if group_request.request.request_group.guild %}
            <td>{{group_request.request.request_group.guild.name}}</td>
            {% else %}
            <td>Community</td>
            {% endif %}
            {% endif %}
            <td>{{group_request.request.request_user.username}}</span></td>
            <td>
            {% if group_request.permission %}
              <button class="btn btn-success" onclick="location.href='{% url 'group-add-user' group_request.request.request_group.id group_request.request.request_user.id %}'"><i class="fa fa-check"></i></button>
              <button class="btn btn-danger" onclick="location.href='{% url 'group-remove-user' group_request.request.request_group.id group_request.request.request_user.id %}'"><i class="fa fa-times"></i></button>
            {% else %}
            No access.
            {% endif %}
            </td>
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
    </div>
  <div id="log" class="tab-pane fade box-body">
  		<table class="table">
  			<thead>
  				<tr>
  					<th scope="col">Group</th>
            {% if "modules.guild" in installed_apps %}
  					<th scope="col">Guild</th>
            {% endif %}
  					<th scope="col">User</th>
  					<th scope="col">Actions</th>
  				</tr>
  			</thead>
  			<tbody>
          {% for group_request in audit_requests %}
  				<tr>
            <td>{{group_request.request.request_group.name}}</td>
            {% if "modules.guild" in installed_apps %}
            {% if group_request.request.request_group.guild %}
            <td>{{group_request.request.request_group.guild.name}}</td>
            {% else %}
            <td>Community</td>
            {% endif %}
            {% endif %}
            <td>{{group_request.request.request_user.username}}</span></td>
            {% if group_request.permission %}
            <td>
              <button class="btn btn-danger" onclick="location.href='{% url 'group-remove-user' group_request.request.request_group.pk group_request.request.request_user.pk %}'"><i class="fa fa-times"></i></button>
            </td>
            {% endif %}
  				</tr>
          {% endfor %}
  			</tbody>
  		</table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
 })
</script>
<script src="{% static 'global/ui/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'global/ui/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
{% endblock %}
