{% extends 'global/base.html' %}
{% block sidebar %}
  <!-- CORE LINKS -->
  <li class="header">MAIN NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  {% if "modules.engagement" in installed_apps %}
  <li><a href="{% url 'all-events' %}"><i class="fa fa-calendar"></i> <span>Events</span></a></li>
  {% endif %}
  <li><a href="{% url 'groups' %}"><i class="fa fa-users"></i> <span>Groups</span></a></li>
  {% if "modules.guild" in installed_apps %}
  <li><a href="{% url 'guilds' %}"><i class="fa fa-gamepad"></i> <span>Branches</span></a></li>
  {% endif %}

  <li class="treeview">
    <a href="#"><i class="fa fa-twitter"></i> <span>Social</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="https://steamcommunity.com/groups/kryptedgaming">Steam</a></li>
      <li><a href="https://twitter.com/KryptedGaming">Twitter</a></li>
      <li><a href="https://www.facebook.com/KryptedGaming/">Facebook</a></li>
      <li><a href="https://www.reddit.com/r/KryptedGaming/">Reddit</a></li>
      <li><a href="https://www.patreon.com/kryptedgaming">Patreon</a></li>
    </ul>
  </li>

  <!-- ADMIN LINKS -->
  {% if request.user.is_staff %}
  <li class="header">ADMIN</li>
  <!-- Optionally, you can add icons to the links -->
  {% if "modules.guild" in installed_apps %}
  <li><a href="{% url 'hr-view-applications' %}"><i class="fa fa-paperclip"></i> <span>Applications</span></a></li>
  {% endif %}
  <li class="treeview">
    <a href="#"><i class="fa fa-mouse-pointer"></i> <span>Extras</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/admin/">Admin Panel</a></li>
    </ul>
  </li>
  {% endif %}
{% endblock %}
