{% extends 'global/base.html' %}
{% block sidebar %}
  <!-- CORE LINKS -->
  <li class="header">MAIN NAVIGATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Community</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="{% url 'groups' %}"><i class="fa fa-feed"></i> <span>Groups</span></a></li>
      {% if "modules.guilds" in installed_apps %}
      <li>
        <a href="{% url 'guilds' %}"><i class="fa fa-gamepad"></i>
          <span>{{application_verbose_names.guilds}}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </li>

  {% if "modules.engagement" in installed_apps %}
  <li class="treeview">
    <a href="#"><i class="fa fa-list-ul"></i> <span>Activities</span>
      <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="{% url 'events' %}"><i class="fa fa-calendar"></i> <span>Events</span></a></li>
      <li><a href="{% url 'surveys' %}"><i class="fa fa-pencil"></i> <span>Surveys</span></a></li>
    </ul>
  </li>
  {% endif %}


  <!-- ACTIONS -->
  {% if "modules.guilds" in installed_apps %}
    {% if user.guilds_in.all.count < 1 %}
      <li class="header">ACTIONS</li>
      <li><a href="{% url 'guilds' %}"><i class="fa fa-pencil"></i> <span>Create Application</span></a></li>
    {% endif %}
  {% endif %}

  <!-- MODULE LINKS -->
  {% if "modules.eveonline" in installed_apps %}
  <li class="header">MODULES</li>
  <li><a href="{% url 'eve-dashboard' %}"><i class="fa fa-arrow-circle-right"></i> <span>EVE Online</span></a></li>
  {% endif %}
  {% if "modules.guilds" in installed_apps %}
  {% if perms.guilds.manage_guild_applications %}
  <li><a href="{% url 'hr-view-applications' %}"><i class="fa fa-paperclip"></i> <span>Applications</span></a></li>
  {% endif %}
  {% endif %}
{% endblock %}
