{% extends "eveonline/base.html" %}
{% load eve_filters %}
{% block brand %}
View Character
{% endblock %}

{% block content %}
    <img class="img-rounded" src="{{character.character_portrait}}"></img>
    <hr>
<div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#skills" data-toggle="tab">Skills</a></li>
      <li><a href="#assets" data-toggle="tab">Assets</a></li>
      <li><a href="#bookmarks" data-toggle="tab">Bookmarks</a></li>
      <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
      <li><a href="#journal" data-toggle="tab">Journal</a></li>
      <li><a href="#mail" data-toggle="tab">Mail</a></li>
      <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
      <li><a href="#orders" data-toggle="tab">Orders</a></li>
      <li><a href="#transactions" data-toggle="tab">Transactions</a></li>

    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="skills">
      </div>
      <div class="tab-pane fade" id="bookmarks">
      </div>
      <div class="tab-pane fade" id="contacts">
      </div>
      <div class="tab-pane fade" id="journal">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>From</th>
              </tr>
            </thead>
            <tbody>
            {% for transaction in wallet %}
              <tr {%if "player" in transaction.ref_type %} style="background-color:#efe483;"{%endif%}>
                <td>{{transaction.ref_type | cleanTypes}}</td>
                {% if transaction.amount > 0 %}
                <td style="color: green;">{{transaction.amount}}</td>
                {% else %}
                <td style="color: red;">{{transaction.amount}}</td>
                {% endif %}
                <td>{{transaction.second_party_id}}</td>
            </tr>
            {% endfor %}
            <!-- Bottom Divider -->
            <tr><td></td><td></td><td></td></tr>
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="mail">
      </div>
      <div class="tab-pane fade" id="noitfications">
      </div>
      <div class="tab-pane fade" id="orders">
      </div>
      <div class="tab-pane fade" id="transactions">
      </div>



  </div>
{% endblock %}
