from django.apps import AppConfig, apps
from django.db.models.signals import m2m_changed, pre_delete, post_save, post_migrate

class CoreConfig(AppConfig):
    name = 'core'

    GOOGLE_ANALYTICS_CODE = ''
    SITE_LOGO = ''

    REGIONS = (
        ("NA", "North America"),
        ("EU", "Europe"),
        ("OC", "Oceania & Asias")
    )

    def ready(self):
        from django.contrib.auth.models import User, Group
        from core.signals import global_user_add, global_group_add, user_group_change_discord_notify
        post_save.connect(global_user_add, sender=User)
        post_save.connect(global_group_add, sender=Group)
        post_migrate.connect(self.group_region_migration, sender=self)
        if apps.is_installed('modules.discord'):
            m2m_changed.connect(user_group_change_discord_notify, sender=User.groups.through)

    def group_region_migration(self, **kwargs):
        from django.contrib.auth.models import Group
        for region in self.REGIONS:
            Group.objects.get_or_create(name=region[0])
